# Root credentials (one time use)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=verysecurepassword

# Non privileged user credentials (to execute commands with)
MONGO_USERNAME=user
MONGO_PASSWORD=password

# In-app admin credentials
APP_ADMINUSER=admin
APP_ADMINEMAIL=example@mail.com
APP_ADMINPASSWORD=examplepassword

# Mongo misc properties
MONGO_HOSTNAME=mongo
MONGO_DATABASE=chat_db

# Logging configuration
LOGGING_LEVEL=DEBUG
