# Non privileged user credentials (to execute commands with)
POSTGRES_USERNAME=user
POSTGRES_PASSWORD=password

# Postgres misc properties
POSTGRES_HOSTNAME=postgresql
PGDATABASE=chat_db

# logging configuration
LOGGING_LEVEL=INFO
