# Non privileged user credentials (to execute commands with)
POSTGRES_USERNAME=user
POSTGRES_PASSWORD=password

# In-app admin credentials
APP_ADMINUSER=admin
APP_ADMINEMAIL=example@mail.com
APP_ADMINPASSWORD=examplepassword

# Misc properties
POSTGRES_HOSTNAME=postgresql
PGDATABASE=chat_db

# logging configuration
LOGGING_LEVEL=INFO
