<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask-SocketIO Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='message_handler.js')}}"
    ></script>
  </head>
  <body>
    <ul>
      <li><a href="/profile">Profile</a></li>
      {% if usr_data.role == "admin" %}
      <li><a href="/manage">Manage Chat</a></li>
      {% endif %}
      <li><a href="/settings/profile">Settings</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>

    <script>
      initCounter("{{ msg_data | length }}");
    </script>

    <button id="l" onclick="reqMessages()">Load More</button>
    <div id="messages">
      {% for msg in msg_data %}
      <div>
        <p>{{ msg.username }}</p>
        <p>{{ msg.message }}</p>
        <p class="timestamp" data-timestamp="{{ msg.timestamp }}"></p>
      </div>
      {% endfor %}
    </div>
    <input id="m" autocomplete="off" /><button
      onclick="sendMessage('{{ s.username }}')"
    >
      Send
    </button>
  </body>
</html>
