<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data.username }}</title>
  </head>
  <body>
    <div>
      <img
        src="{{ url_for('routes.profile_picture', user=data.username) }}"
        height="200"
        alt="Profile Photo"
      />
      <div>
        <div>
          <div>
            <label>Username</label>
            <p>{{data.username}}</p>
          </div>
          <div>
            <p>{{data.role}}</p>
          </div>
          <div>
            <label>Bio</label>
            <p>{{data.bio}}</p>
          </div>
        </div>
        <div>
          <div>
            <a href="/">Back to Chat</a>
          </div>
          {% if data.username == current_user %}
            <div>
              <a href="/myprofile">Switch to personal view</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
