<!doctype html>
<html>
    <title>Sign up</title>
        <h1>Sign Up</h1>
        <br>
        {% from "_form_macros.html" import render_field %}
        <form method='post' action="/register">
            <dl>
                {{ render_field(form.username) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
            </dl>
            <button>Sign up</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                        {{ message[1] }}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Already have an account? <a href="/login">Click here!</a></p>
      
    </body>
</html>