<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>

    <div>
        <img src={{ data.pp_path }} alt="Profile Photo">
        <div>
            {% from "_form_macros.html" import render_field %}
            <form method=post enctype=multipart/form-data action="/settings/profile">
                <input type=file name=file accept="image/gif, image/jpeg, image/png, image/webp" />
                <input type=submit value=Upload>
            </form>
            <form>
                <dl>
                    {{ render_field(form.username) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.bio) }}
                </dl>
                <button id="save">Save Changes</button>
            </form>

            {% with messages = get_flashed_messages(with_categories=true) %} 
                {% if messages %} 
                    {% for message in messages %} 
                        {{ message[1] }}
                    {% endfor %}
                {% endif %} 
            {% endwith %}

        </div>      
    </div>

</body>
</html>